*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/* Navigation Style */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 40px;
    font-size: 1.2rem;
    font-weight: 500;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/* Banner Section */
.banner-container{
    text-align: center;
}
.banner-title{
    color: #131313;
    font-size: 3.5rem;
    font-weight: 700;
}
.banner-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin: 15px 0px;
}
.primary-btn{
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 0.5rem;
    background-color: #FF900E;
    padding: 20px 25px;
    cursor: pointer;
}
.primary-btn:hover{
    color: darkred;
}
.banner-img{
    width: 90%;
}
.banner-info{
    max-width: 800px;
    margin: 80px auto;
    text-align: center;
}
/* Mobile Responsive */
@media screen and (max-width:576px) {
    header{
        padding: 30px;
    }
    nav{
        flex-direction: column;
    }  

    nav ul{
        padding-left: 1rem;
    } 
}
/* Medium Responsive */
@media screen and (min-width:577px) and (max-width:992px) {
    header{
        padding: 30px;
    }
    nav{
        flex-direction: column;
    }  

    nav ul{
        padding-left: 1rem;
    } 
}
/* Large Responsive */
@media screen and (min-width:993px) and (max-width:1200px) {
    header{
        padding: 30px;
    }
    nav{
        flex-direction: column;
    } 
    nav ul{
        padding-left: 1rem;
    }
}